.broken-green-pixel {
  background-color: #ff00ff
    width: 1px;
 height: 1px;
  position: fixed;
}

background{
  color:0, 0, 128

}
body {
  color: #ffffff; font-size: 14;
}
h1 { color: #ffffff; font-size: 28; }
