.broken-green-pixel {
  background-color: #ff00ff;
    width: 5px;
 height: 5px;
  position: fixed;
  top: 126px;
  left: 252px;
}

body {
  background-color:#6CE6B9;
  color: #ffffff; font-size: 14px;
}
h1 { color: #ffffff; font-size: 28px; }
